.Document__page {
  width: 50em;
  margin: 1em;
  padding: 1.5em;

  background-color: white;
}

.Document__header-toolbar__buttons {
  padding: 0 1em 1em;
}

.Document__header-toolbar__buttons > button:not(:last-child) {
  margin-right: 1em;
}

#Document {
  padding: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#Document .Document__page > *:first-child,
#Document div[data-rfd-draggable-id] {
  margin-bottom: 1.5em;
}

#Document .card {
  text-align: center;
}

#Document .card form select {
  margin-bottom: 1rem;
}

#Document .card img[alt="reposition icon"] {
  width: 2em;
}

#Document .card-header {
  padding: 0.25em 1em;

  display: flex;
  justify-content: space-between;

  background-color: lightblue;
}

#Document .card-header > * {
  width: 33%;
  text-align: center;
}

#Document .card-header > *:last-child {
  display: flex;
  justify-content: end;
  gap: 0.2em;
}
