#root {
  height: 100%;
  width: 100%;

  text-align: center;
}

.clickable-icon {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  border-radius: 50%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.clickable-icon--warn {
  padding: 0.5em 0;

  color: red;
}

.clickable-icon:hover {
  background-color: Gainsboro;
}

.HomePage,
.Register,
.Signin {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: border-box url("./assets/resume-6627200.jpg") center no-repeat;
  background-size: cover;
}

.HomePage .HomePage-backdrop,
.Register .Register__card,
.Signin .Signin__card {
  background-color: #fffffff2;
}
