#root {
  width: 100%;
  padding: 2rem;

  text-align: center;
}

.clickable-icon {
  height: 2em;
  width: 2em;
  padding: 0.5em;
  border-radius: 50%;

  display: flex;

  cursor: pointer;
}

.clickable-icon:hover {
  background-color: Gainsboro;
}
